# Created by .ignore support plugin (hsz.mobi)
/springboot-login/target/
/springboot-login/springboot-thymeleaf.iml
/springboot.iml
/springboot-login/springboot-login.iml
/.idea/
/springboot-docker/target/
/springboot-docker/springboot-docker.iml
/springboot-docker-dockerfile/target/
/springboot-docker-dockerfile/springboot-docker-dockerfile.iml
/dockercompose-springboot-mysql-nginx/app/dockercompose-springboot-mysql-nginx.iml
/springboot-quartz/target/

