<component name="ArtifactManager">
  <artifact type="exploded-war" name="springdatascheduling:war exploded">
    <output-path>$PROJECT_DIR$/springdatascheduling/target/springdata-scheduling</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springdata-scheduling" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springdata-scheduling/target/springdata-scheduling/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springdata-scheduling/web/Web" />
    </root>
  </artifact>
</component>