<component name="ArtifactManager">
  <artifact type="war" name="springboothusky:war">
    <output-path>$PROJECT_DIR$/springboot-thymeleaf/target</output-path>
    <root id="archive" name="springboot-husky.war">
      <element id="artifact" artifact-name="springboothusky:war exploded" />
    </root>
  </artifact>
</component>