<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboothusky:war exploded">
    <output-path>$PROJECT_DIR$/springboot-thymeleaf/target/springboot-husky</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-thymeleaf" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot-thymeleaf/target/springboot-husky/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-thymeleaf/web/Web" />
    </root>
  </artifact>
</component>